<% layout('layout') -%>

<section id="results">
  <h1>Searching GOV.UK for <em><%= query %></em></h1>

  <% if (error) { %>
  <div class="error">The search API returned an error: <em><%= error %></em></div>
  <% } %>

  <% if (results && results.length > 0) { %>
  <h2>Top results</h2>
  <ul class="results">
    <% results.forEach(function(item){ %>
      <li>
        <a href="<%= item.web_url %>"><%= item.title %></a>
        <% if (item.related) { %>
        <ul class="related">
          <% item.related.forEach(function(item){ %>
          <li><a href="<%= item.web_url %>"><%= item.title %></a></li>
          <% }) %>
        </ul>
        <% } %>
      </li>
    <% }) %>
  </ul>
  <% } else { %>
    <p>No results returned.</p>
  <% } %>
</section>

<section id="search" class="refine">
  <h2>Search again</h2>
  <%- include searchform.ejs %>
</section>
